/********************************************
*** Elements to effect the entire website ***
*********************************************/

html, body { 
  font-family: 'Times New Roman', sans-serif;
  font-size: 1vw; 
  margin:0;
  padding:0;
  color: white;
  background: linear-gradient(to right, #ffbbff, #fff, #ffbbff);
  background-image: url(../Image%20Files/Background.jpg);
  background-size: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/***************************************************
*** The header/footer information for each page  ***
****************************************************/

.Logo_title {
    font-size: 21vh;
    color: #fffefe;
    text-align: center;
    position: absolute;
    left: 37.5%;
    right: 62.5%;
    top: -20%;
    bottom: 120%;
    text-shadow: -0.4vh -0.4vh darkorchid, 0.4vh -0.4vh greenyellow, -0.4vh 0.4vh darkorchid, 0.4vh 0.4vh greenyellow;
}

.Logo_image {
    position: absolute;
    top: 0;
    right: 0;
    height: 21%;
}

.Logo_block {
    height: 21%;
    width: 100%;
    padding: 11vh 0;
    background-color: #ff99ff;
    background: linear-gradient(to bottom right, #ccffcc, #ff88ff);
}

footer {
    text-align: center;
    color: white;
    background-color: darkgreen;
    width: 100%;
}

/****************************
*** Animation Information ***
****************************/
@keyframes navdisplay {
    from {background-color: white;}
    to {background-color: hotpink;}
}

@keyframes navdisplaynotcurrent {
    from {background-color: black;}
    to {background-color: darkgreen;}
}

/*********************
*** Navigation Bar ***
**********************/

 nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 18.8%;
}

nav ul li {
    float: left;
    background-color: greenyellow;
}

nav li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0.7vh 0;
    width: 100%;
    font-size: 2.5vw;
    letter-spacing: 0.3vh;
    color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.current {
    background-color: darkgreen;
    color: white;
    animation-name: navdisplaynotcurrent;
    animation-duration: 1.5s;
}

a:hover:not(.current) {
    background-color: hotpink;
    color: white;
    animation-name: navdisplay;
    animation-duration: 1s;
}

.emptybox {
    margin: 6%;
    width: 100%;
}

/***********************
*** Page 1 specifics ***
************************/

.Picture1Page1 {
    float: right;
    position: absolute;
    right: 4%;
    top: 30%;
    height: 25%;
    width: 28%;
}

.Picture2Page1 {
    float: left;
    position: absolute;
    left: 5%;
    top: 50%;
    height: 33%;
    width: 25%;
}

.WoodenFrame {
    border: 1.6vw solid #996600;
    border-image-source: url(../Image%20Files/Photo%20Frame.jpg);
    border-image-slice: 40%;
    border-image-width: 20%;
}

.CommunicativeText {
    background-color: rgba(255, 100, 255, 0.2);
    text-align: center;
}

.Header1Page1 {
    margin-left: 3vw;    
}

.Para1Page1 {
    margin-left: 3vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

.Header2Page1 {
    margin-left: 35.5vw;
}
.Para2Page1 {
    float: right;
    margin-right: 6vw;
    margin-top: 0;
}

figure ul {
    list-style-type: none;
    margin-left: 35.5vw;
}

figure ul li {
    display: inline-block;
    margin-right: 2.5vw;
    padding: 0.3vw 0.3vw 0 0.3vw;
    background-color: white;
}

figure ul li img {
    height: 15vh;
    width: 14.7vw;
}

.keywords {
    list-style-type: none;
    margin-left: 37.95vw;
}

.keywords li {
    float: left;
    font-size: 0;
}

.fresh, .natural, .tasty {
    position: absolute;
    bottom: 10.8vh;
    padding: 7.3vh 7.1vw;
}

.natural {
    right: 27.58vw;
}

.tasty {
    right: 9.68vw;
}

.fresh:hover, .fresh:active, .natural:hover, .natural:active, .tasty:hover, .tasty:active {
    font-size: 5.6vh;
    background-color: rgba(255, 100, 255, 0.2);
}

.fresh:hover, .fresh:active {
    padding: 4.05vh 2.64vw;
}

.natural:hover, .natural:active {
    padding: 4.05vh 0.4vw;
}

.tasty:hover, .tasty:active {
    padding: 4.05vh 2.6vw;
}

audio {
    position: absolute;
    left: 12vw;
    bottom: 1vh;
}

section p {
    position: absolute;
    bottom: 0;
}

/***********************
*** Page 2 specifics ***
************************/

.Image1Page2 {
    position: absolute;
    top: 29vh;
    right: 50vw;
    height: 20%;
    width: 15%;
    border: 0.3vw solid white;
}

.Image2Page2 {
    position: absolute;
    top: 46vh;
    right: 36vw;
    height: 20%;
    width: 15%;
    border: 0.3vw solid white;
}

.Image3Page2 {
    position: absolute;
    top: 30vh;
    right: 22vw;
    height: 20%;
    width: 15%;
    border: 0.3vw solid white;
}

.Image4Page2 {
    position: absolute;
    top: 52vh;
    right: 5vw;
    height: 30%;
    width: 24%;
    border: 0.3vw solid white;
}

.Header1Page2 {
    margin-left: 7vw;
    margin-bottom: 2vh;
}

.Para1Page2 {
    margin-left: 3.5vw;
    margin-bottom: 2vh;
}

.Header2Page2 {
    margin-left: 17vw;
    margin-bottom: 2vh;
}

.Para2Page2 {
    margin-left: 6vw;
}

video p {
    position: absolute;
}

#Video1Para1 {
    left: 10.5vw;
    bottom: 3vh;
}

#Video2Para1 {
    left: 31vw;
    bottom: 3vh;
}

video {
    display: inline-block;
    width: 13vw;
    height: 20vh;
    margin-left: 10vw;
}

/***********************
*** Page 3 specifics ***
************************/

.emptybox2 {
    margin: 4%;
    width: 100%;
}

.Header1Page3 {
    margin-left: 40%;
}

.Para1Page3 {
    margin-left: 23%;
}

.Header2Page3 {
    position: absolute;
    top: 40%;
}

.Para2Page3 {
    position: absolute;
    top: 46%;
}

.Image1Page3 {
    position: absolute;
    left: 30%;
    top: 40%;
    height: 20%;
    width: 15%;
    border: .3vw solid white;
}

.Header3Page3 {
    position: absolute;
    top: 63%;
}

.Para3Page3 {
    position: absolute;
    top: 69.4%;
}

.Image2Page3 {
    position: absolute;
    left: 30%;
    top: 63%;
    height: 20%;
    width: 15%;
    border: .3vw solid white;
}

.Header4Page3 {
    position: absolute;
    top: 40%;
    right: 25vw;
}

.Para4Page3 {
    position: absolute;
    right: 25vw;
    top: 46%;
}

.Image3Page3 {
    position: absolute;
    right: 7%;
    top: 40%;
    height: 20%;
    width: 15%;
    border: .3vw solid white;
}

.Header5Page3 {
    position: absolute;
    top: 63%;
    right: 25vw;
}

.Para5Page3 {
    position: absolute;
    right: 25vw;
    top: 69.4%;
}

.Image4Page3 {
    position: absolute;
    right: 7%;
    top: 63%;
    height: 20%;
    width: 15%;
    border: .3vw solid white;
}

.Header6Page3 {
    position: absolute;
    left: 30vw;
    bottom: 10vh;
}

.emptybox3 {
    margin: 27.4%;
    width: 100%;
}

/****************************
*** tablet landscape view ***
*****************************/

@media screen and (min-width: 700px) and (max-width: 1200px) and (orientation: landscape) {
    .Logo_title {
        left: 35%;
    }

    footer {
        position: absolute;
        bottom: 0;
    }

    .Picture1Page1, .Picture2Page1 {
        width: 18vw;
        height: 15vh;
        right: 10vw;
    }

    .Picture2Page1 {
        position: relative;
        float: right;
        top: 5vh;
        left: -6.8vw;
    }

    .Header2Page1, .Para2Page1 {
        margin-left: 3.5vw;
        float: left;
    }

    figure ul {
        position: absolute;
        top: 72vh;
        left: 15vw;
        margin-left: 5vw;
    }

    .keywords {
        margin-left: 16vw;      
    }
    
    .keywords li {
        font-size: 5vh;
        position: absolute;
    }

    .fresh, .natural, .tasty {
    position: absolute;
    top: 71vh;
    padding: 7.3vh 7.1vw;
    }

    .natural {
        right: 36.7vw;
    }

    .tasty {
        right: 21vw;
    }

    .fresh:hover, .fresh:active, .natural:hover, .natural:active, .tasty:hover, .tasty:active {
        font-size: 5vh;
        background-color: rgba(0, 0, 0, 0);
    }

    .fresh:hover, .fresh:active, .natural:hover, .natural:active, .tasty:hover, .tasty:active {
    padding: 7.1vh 7vw;
    }

    .Image1Page2, .Image2Page2, .Image3Page2 {
        right: 45vw;
    }

    .Image2Page2 {
        top: 50vh;
    }

    .Image3Page2 {
        top: 71vh;
    }

    .Image4Page2 {
        width: 40vw;
        height: 40vh;
        top: 40vh;
        right: 2vw;
    }

    .Header2Page2 {
        margin-left: 7vw;
    }

    .Para2Page2 {
        width: 25%;
        margin-left: 3.5vw;
    }

    #Video1Para1 {
        left: 5vw;
    }

    #Video2Para1 {
    left: 21vw;
    }

    video {
    width: 13vw;
    height: 20vh;
    margin-left: 5vw;
    }
}

/***************************
*** tablet portrait view ***
****************************/

@media screen and (min-width: 700px) and (max-width: 1200px) and (orientation: portrait) {    
    .Logo_title {
        left: 10vw;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
    
    .Picture1Page1, .Picture2Page1 {
        top: 25vh;
        width: 20vw;
        height: 15vh;
        right: 10vw;
    }

    .Picture2Page1 {
        position: relative;
        float: right;
        top: 2.5vh;
        left: -5.8vw;
    }

    .Header1Page1, .Para1Page1 {
        font-size: 1.5vw;
    }

    .Header2Page1, .Para2Page1 {
        font-size: 1.5vw;
        margin-left: 3.5vw;
        float: left;
    }

    figure ul {
        position: absolute;
        top: 72vh;
        left: 13vw;
        margin-left: 5vw;
    }

    figure ul li img {
        height: 15vh;
        width: 15vw;
    }

    .keywords {
        margin-left: 16vw;
    }
    
    .keywords li {
        font-size: 3vh;
        position: absolute;
    }

    .fresh, .natural, .tasty {
    position: absolute;
    top: 72vh;
    padding: 7.3vh 7.1vw;
    }

    .fresh {
        right: 57.9vw;
    }

    .natural {
        right: 37.3vw;
    }

    .tasty {
        right: 21.5vw;
    }

    .fresh:hover, .fresh:active, .natural:hover, .natural:active, .tasty:hover, .tasty:active {
        font-size: 3vh;
        background-color: rgba(0, 0, 0, 0);
    }

    .fresh:hover, .fresh:active, .natural:hover, .natural:active, .tasty:hover, .tasty:active {
        padding: 7.2vh 6.9vw;
    }

    audio {
        bottom: 5vh;
        left: 50vw;
    }

    section p {
        bottom: 4.5vh;
        left: 20vw;
        font-size: 1.5vh;
    }

    .Image1Page2, .Image2Page2, .Image3Page2 {
        top: 26vh;
        height: 15vh;
        width: 18vw;
    }

    .Image1Page2 {
        left: 10vw;
    }

    .Image2Page2 {
        left: 30vw;
    }

    .Image3Page2 {
        left: 50vw;
    }

    .Image4Page2 {
        width: 50vw;
        height: 40vh;
        top: 50vh;
        right: 2vw;
    }

    .CommunicativeText {
        background-color: rgba(255, 100, 255, 0.3)
    }

    .Header1Page2, .Header2Page2, .Para1Page2, .Para2Page2 {
        font-size: 1.8vh;
        margin-left: 10.5vw;
        width: 25%;
    }

    .Header1Page2 {
        margin-top: 25vh;
    }

    .Para1Page2 {
        margin-top: -1.5vh; 
    }

    .Header2Page2 {
        margin-top: 0;
    }

    .Para2Page2 {
        margin-top: -1.5vh;
        margin-bottom: -10vh;
    }

    video {
        position: absolute;
        height: 0;
        width: 0;
        bottom: 0;
    }

    section p {
        font-size: 0;   
    }
    
    .Image1Page3, .Image2Page3, .Image3Page3, .Image4Page3 {
        height: 15vh;
        width: 18vw;
        right: 5.5vw;
    }

    .Header1Page3, .Para1Page3, .Header2Page3, .Para2Page3, .Header3Page3, .Para3Page3, .Header4Page3, .Para4Page3, .Header5Page3, .Para5Page3, .Header6Page3 {
        Font-size: 1.8vh;
    }
}

/*********************************************
*** Phone (Less than 600px) landscape view ***
**********************************************/

@media screen and (min-width: 0px) and (max-width: 699px) and (orientation: landscape) {
    .Logo_title {
        left: 2%;
        top: 0;
        font-size: 35vh;
        margin: 0;
    }

    .Logo_image {
        height: 40%;
    }

    .Logo_block {
        width: 75%;
        padding: 20vh;
    }

    footer p {
        position: absolute;
        width: 100%;
        font-size: 2vw;
        bottom: 0;
        background-color: darkgreen;
        margin: 0;        
    }

    nav ul {
        top: 60%;
        width: 100%;
        margin: 0;
    }

    .nav1 {
        color: rgba(0, 0, 0, 0);
        width: 0;
        background-color: rgba(0, 0, 0, 0);  
        float: left;
        padding: 0;
    }

    #nav2, #nav3 {
        background-color: greenyellow;
        position: absolute;
        width: 40%;
    }

    #nav3 {
        right: 0vw;
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        width: 50%;
        padding: 5vh;
    }

/*Erases elements from the page*/
    .Picture1Page1, .Picture2Page1, .Header1Page1, .Header2Page1, .Para1Page1, .Para2Page1, .WoodenFrame, .fresh, .natural, .tasty, section figure ul li img,
    .keywords, .emptybox, .CommunicativeText, .Image1Page2, .Image2Page2, .Image3Page2, .Image4Page2, .current, audio, section p, video, video p, #Video1Para1, #Video2Para1
     {
        position: absolute;
        color: rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        border: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 0;
        font-size: 0;
    }

    audio {
        top: 0;
    }

    .onoff {
        width: 0;
    }

    video {
        position: absolute;
        top: 0;
    }

    .Header2Page2, .Para2Page2 {
        width: 100%;
        color: white;
        font-size: 5vh;
        top: 50vh;
    }

    .Para2Page2 {
        top: 60vh;
        width: 100%;
    }

    .Header1Page3, .Para1Page3, .Header2Page3, .Header3Page3, .Header4Page3, .Header5Page3 {
        font-size: 3vh;
        color: white;
        width: 30%;
    }

    .Header1Page3, .Para1Page3 {
        top: 40vh;
        width: 100%;
    }

    .Para1Page3 {
        top: 45vh;
    }

    .Image1Page3, .Image3Page3 {
        top: 50vh;
    }

    .Image2Page3, .Image4Page3 {
        top: 72vh;
    }

    .Header2Page3 {
        top: 59vh;
        left: 3vw;
    }
    
    .Header3Page3 {
        top: 81vh;
        left: 3vw;
    }
    
    .Header4Page3 {
        top: 59vh;
        right: 20vw;
    }
    
    .Header5Page3 {
        top: 81vh;
        right: 20vw;
    }
}

/********************************************
*** Phone (Less than 899px) portrait view ***
*********************************************/

@media screen and (min-width: 0px) and (max-width: 699px) and (orientation: portrait) {
    .Logo_title {
        left: 2%;
        top: 0;
        font-size: 22vw;
        margin: 0;
    }

    .Logo_image {
        height: 21.5%;
    }

    .Logo_block {
        width: 100%;
        padding: 10.75vh 0;
    }

    footer p {
        position: absolute;
        width: 100%;
        font-size: 2vw;
        bottom: 0;
        background-color: darkgreen;
        margin: 0;        
    }

    nav ul {
        top: 60%;
        width: 100%;
        margin: 0;
    }

    .nav1 {
        color: rgba(0, 0, 0, 0);
        width: 0;
        background-color: rgba(0, 0, 0, 0);  
        float: left;
        padding: 0;
    }

    #nav2, #nav3 {
        background-color: greenyellow;
        position: absolute;
        width: 40%;
        right: 25vw;
        font-size: 5vh;
    }

    #nav3 {
        top: -30vh;
        
    }

    nav ul li {
        padding: 0;
    }

    nav ul li a {
        width: 50%;
        padding: 5vh;
    }

    .Picture1Page1, .Picture2Page1, .Header1Page1, .Header2Page1, .Para1Page1, .Para2Page1, .WoodenFrame, .fresh, .natural, .tasty, section figure ul li img,
    .keywords, .emptybox, .CommunicativeText, .Image1Page2, .Image2Page2, .Image3Page2, .Image4Page2, .current, audio, section p, video, video p, #Video1Para1, #Video2Para1
     {
        position: absolute;
        color: rgba(0, 0, 0, 0);
        height: 0;
        width: 0;
        border: rgba(0, 0, 0, 0);
        background-color: rgba(0, 0, 0, 0);
        padding: 0;
        margin: 0;
        font-size: 0;
    }

    audio {
        top: 0;
    }

    .onoff {
        width: 0;
    }

    .Header2Page2, .Para2Page2 {
        color: white;
        font-size: 4vh;
        top: 31vh;
        width: 100%;
    }

    video {
        position: absolute;
        top: 0;
    }

    .Para2Page2 {
        width: 80%;
        top: 41vh;
        color: white;
        left: 10vw;
    }

    .Header1Page3, .Para1Page3, .Header2Page3, .Header3Page3, .Header4Page3, .Header5Page3 {
        font-size: 3vh;
        color: white;
        width: 30%;
    }

    .Header1Page3, .Para1Page3 {
        top: 22vh;
        width: 100%;
    }

    .Para1Page3 {
        top: 27vh;
    }

    .Image1Page3, .Image2Page3, .Image3Page3, .Image4Page3 {
        height: 14vh;
        width: 14vh;
        right: 10vw;
    }

    .Header2Page3 {
        top: 40vh;
    }   

    .Header3Page3 {
        top: 55vh;
    } 

    .Image3Page3 {
        top: 65vh;
    }

    .Header4Page3 {
        top: 70vh;
    }

    .Image4Page3 {
        top: 80vh;
    }

    .Header5Page3 {
        top: 85vh;
    }

    .Header2Page3, .Header3Page3, .Header4Page3, .Header5Page3 {
        font-size: 3vh;
        left: 10vw;
        width: 40%;
    }

    .Image1Page3, .Image2Page3 {
        position: relative;
        left: 68vw;
        top: 10vh;
    }
}